

/* PRIMERA PARTE */

body {
    background-color: #33146b;
}

.link-container {
    /* border: black solid; */
    width: 700px;
    margin-top: 2%;
    margin-left: 35%;
    display: flex;
    justify-content: space-around;
}
 
#logo {
    
    margin-left: 10%;
 }

 a {
    color: whitesmoke;
}

.div-container {
    /* border: black solid; */
    height: 300px;
    width: 1330px;
    display: flex;
    align-items: center;
}

h1 {
    margin-top: -5%;
    margin-left: 20%;
    color:  whitesmoke;
}

#p1 {
    margin: 5%;
    margin-top: 0%;
    color: yellow;
}

input {
    margin-top: -5%;
margin-left: 35%;
}

#img2 {
    margin-top: -5%;
    margin-right: 5%;
}

/* SEGUNDA PARTE */

.div2-container {
    /* border: black solid; */
    height: 500px;
    width: 1330px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3c0d93;
}

.p2 {
    width: 250px;
    color: yellow;
}

/* TERCERA PARTE */

.div3-container {
    /* border: black solid; */
    height: 350px;
    width: 1330px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

#p3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    color: whitesmoke;
}

#mIgnacia {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: yellow;
    margin-left: 35%;
}

/* CUARTA PARTE */

.div4-container {
       /* border: black solid; */
       height: 300px;
       width: 1330px;
       background-color: #3c0d93;
       display: flex;
       justify-content: center;
       align-items: center;
}

.div2_a-container {
    /* border: black solid; */
    height: 150px;
    width: 900px;
    background-color: rgb(222, 210, 233);
    display:flex;
    flex-direction: row;
}

#h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 4, 71);
    margin-top: 40px;
    margin-left: 150px;
}
#p4 {
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(20, 4, 71);
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 50px;

}
#input_2 {
    margin-top: 60px;
    margin-left: 30px;
}

/* PIED DE PÁGINA */

.div5-container {
     /* border: black solid; */
     height: 50px;
     width: 1330px;
     background-color: #33146b;
     display: flex;
     justify-content: center;
     align-items: center;
     color: whitesmoke;
}